################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
**/Properties
**/appsettings.*.json
